In [1]:
import pandas as pd

titanic_df = pd.read_csv("/content/sample_data/Titanic_Dataset.csv")
titanic_df

   PassengerId  Survived  Pclass     Sex   Age   Fare
0            1         0       3    male  22.0   7.25
1            2         1       1  female  38.0  71.28
2            3         1       3  female  26.0   7.92
3            4         1       1  female  35.0  53.10
4            5         0       3    male   NaN   8.05

In [2]:
titanic_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            1
Fare           0
dtype: int64

In [3]:
# Fill missing Age with median
titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)

# Encode Sex column
titanic_df['Sex'] = titanic_df['Sex'].map({'male': 0, 'female': 1})

# Final check
titanic_df.isnull().sum()

/tmp/ipython-input-1935523193.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
Fare           0
dtype: int64

In [5]:
students_df = pd.read_csv("/content/sample_data/Students_Performance_Dataset.csv")
students_df

   Gender  MathScore  ReadingScore  WritingScore ParentalEducation
0  female       72.0            72            74          bachelor
1    male       69.0            90            88         associate
2  female       90.0            95            93            master
3    male       47.0            57            44       high school
4  female        NaN            76            78         associate

In [6]:
students_df.isnull().sum()

Gender               0
MathScore            1
ReadingScore         0
WritingScore         0
ParentalEducation    0
dtype: int64

In [7]:
# Fill MathScore with mean
students_df['MathScore'].fillna(students_df['MathScore'].mean(), inplace=True)

# Encode Gender
students_df['Gender'] = students_df['Gender'].map({'male': 0, 'female': 1})

# Final check
students_df.isnull().sum()

/tmp/ipython-input-2960609542.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  students_df['MathScore'].fillna(students_df['MathScore'].mean(), inplace=True)

Gender               0
MathScore            0
ReadingScore         0
WritingScore         0
ParentalEducation    0
dtype: int64

In [8]:
titanic_df.to_csv("/content/sample_data/Titanic_Dataset.csv", index=False)
students_df.to_csv("/content/sample_data/Students_Performance_Dataset.csv", index=False)